* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #919191;
    background: #e6dede;
}

.wrapper {
    display: block;
    width: 100%;
    text-align: left;
}

.row1,
.row1 a {
    color: #C0BAB6;
    background: #333333;
}

a {
    text-decoration: none;
    outline: none;
}

#header {
    width: 960px;
    margin: 0 auto;
    display: block;
    padding: 20px 0;
    overflow: auto;
}

#header #hgroup h1 {
    font-size: 36px;
    font-weight: normal;

}

#header #hgroup h1,
#header #hgroup h2 {
    text-transform: none;
    font-style: normal;
    font-weight: normal;
}

#header #hgroup h2 {
    font-size: 13px;
}
#hgroup{
    float: left;
}
#header nav{
    float: right;
    margin: 10px 0 0 0;
    padding: 20px 0;
    color: #C0BAB6;
    background: #232323;
}
#header nav ul{
    padding: 0 20px;
    list-style: none;
}
#header nav ul li{
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
}
#header nav ul .last{
    margin: 0;
}
#header nav li a{
    color: #C0BAB6;
    background: #232323;
}
#header nav li a:hover{
    color: #FF9900;
    background: #232323;
}

#main{
height: 360px;
width: 960px;
background: #333333;
margin: auto;
}
h3{
   text-align: center;
   font-size: 35px;
}

.container{
    display: flex;
    justify-content: space-between;

}
.box{
    width: 310px;
    height: 200px;
    background: #333333;
    text-align: center;
    line-height: 150px;
    font-size: 20px;
}
.container{
     display: flex;
     justify-content: center;
     gap: 15px;
     margin-top:10px ;
}
